<%= form_with(model: employee, method: :patch, local: true) do |form| %>
  <% if @employee.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@employee.errors.count, "error") %> prohibited this employee from being saved:</h2>

      <ul>
      <% @employee.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="employee_id">
    <%= form.number_field "employee id", {type: "hidden", value: "#{@employee.id}" }%>
  </div>

  <%= form.label :ticket_id %>
  <%= form.number_field :ticket_id %>

  <div class="actions">
    <%= form.submit "Add New Ticket" %>
  </div>
<% end %>
