<p id="notice"><%= notice %></p>

<p>
  <div class="name">
    <strong>Name:</strong>
    <%= @employee.name %>
  </div>
</p>

<p>
  <div class="level">
    <strong>Level:</strong>
    <%= @employee.level %>
  </div>
</p>

<p>
  <div class="department">
    <strong>Department:</strong>
    <%= @employee.department.name %>
  </div>
</p>

<p>
  <div class="oldest_ticket">
    <strong>Oldest Ticket:</strong>
    <%= @employee.oldest_ticket.subject %>
    <%= @employee.oldest_ticket.created_at %>
  </div>
</p>

<p>
  <div class="all_tickets">
    <strong>All Tickets:</strong>
    <ul>
    <% @employee.tickets_by_date_desc.each do |ticket| %>
      <li><%= ticket.subject %>: <%= ticket.created_at %></li>
    <% end %>
    </ul>
  </div>
</p>

<% form_with url: "employees/#{@employee.id}", method: :patch do |form| %>
  <div class="employee_id" style="hidden">
    <%= form.label "Employee ID" %>
    <%= form.number_field "employee id", { value: "#{@employee.id}" } %>
  </div>

  <div class="ticket_id">
    <%= form.label :ticket_id %>
    <%= form.number_field :ticket_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

<%= link_to 'Edit', edit_employee_path(@employee) %> |
<%= link_to 'Back', employees_path %>
