<%= form_with(model: employee_ticket, local: true) do |form| %>
  <% if employee_ticket.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(employee_ticket.errors.count, "error") %> prohibited this employee_ticket from being saved:</h2>

      <ul>
      <% employee_ticket.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :employee_id %>
    <%= form.text_field :employee_id %>
  </div>

  <div class="field">
    <%= form.label :ticket_id %>
    <%= form.text_field :ticket_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
