<%= form_with(model: employee_tickets, local: true) do |form| %>
  <% if @employee.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@employee.errors.count, "error") %> prohibited this employee_ticket from being saved:</h2>

      <ul>
      <% @employee.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="employee_id" style="hidden">
    <%= form.label :employee_id %>
    <%= form.text_field :employee_id, { value: "#{@employee.id}" }.to_i %>
  </div>

  <div class="ticket_id">
    <%= form.label :ticket_id %>
    <%= form.select :ticket_id, @tickets %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
