<p id="notice"><%= notice %></p>

<h1>Employee Tickets</h1>

<table>
  <thead>
    <tr>
      <th>Employee</th>
      <th>Ticket</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @employee_tickets.each do |employee_ticket| %>
      <tr>
        <td><%= employee_ticket.employee %></td>
        <td><%= employee_ticket.ticket %></td>
        <td><%= link_to 'Show', employee_ticket %></td>
        <td><%= link_to 'Edit', edit_employee_ticket_path(employee_ticket) %></td>
        <td><%= link_to 'Destroy', employee_ticket, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Employee Ticket', new_employee_ticket_path %>
